{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" href="{% static 'main.css' %}" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </head>
  <body class="obscuro text-light p-5">
    {% include 'cancion/navbar.html' %}

    <div id="drop_cancion" class="d-flex flex-column">
      <div class="cancion_elem" draggable="true"> Div 1
        <span class="iconify" data-icon="fa-solid:grip-lines"></span>
      </div>
      <div class="cancion_elem" draggable="true"> Div 2 </div>
      <div class="cancion_elem" draggable="true"> Div 3 </div>
      <div class="cancion_elem" draggable="true"> Div 4 </div>
      <div class="cancion_elem" draggable="true"> Div 5</div>
    </div>

    <input id="enviar" type="button" name="enviar" class="btn btn-primary" value="Enviar">
  </body>

  <script>
    function swap(elem1, elem2) {
        var siguiente = elem1.nextSibling;
        elem2.parentNode.insertBefore(elem1, elem2);
        siguiente.parentNode.insertBefore(elem2, siguiente);
    }

    var canciones = document.querySelectorAll(".cancion_elem");

    var curr;
    for (let cancion of canciones) {
      cancion.ondragstart = (evt) => {
        // document.body.style.cursor='none';
        // evt.target.style.cursor = "copyMove";
        // evt.dataTransfer.effectAllowed = "copyMove";
        curr = cancion;
        curr.classList.add("bg-success");
      };

      cancion.ondragenter = (evt) => {
        evt.preventDefault();
        // evt.dataTransfer.dropEffect = "copy";
        swap(curr, cancion);
      };

      // cancion.ondragleave = (evt) => { evt.preventDefault(); };
      cancion.ondragover = (evt) => { evt.preventDefault(); };

      cancion.ondragend = (evt) => {
        curr.classList.remove("bg-success");
      }
    }

    enviar.addEventListener("click", (evt) => {
      var canciones = document.querySelectorAll(".cancion_elem");
      for (c of canciones) {
        console.log(c.innerText);
      }
    });
  </script>
</html>
