
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <div class=""> -->
  <div class="navbar-contents d-flex justify-content-xl-around flex-row flex-fill p-3">
    <!-- <a href="/home"> -->
      <div class="h3 .text-decoration-none">FCMusic</div>
    <!-- </a> -->
    <a href="/home"><button class = "btn bg-light"> Principal </button></a>
    <button class = "btn bg-light"> Biblioteca </button>
    <button class = "btn bg-light"> Buscar </button>
    <a href="/drive"><button class = "btn bg-light"> Drive </button></a>
  </div>
    <!-- </div> -->
</div>
